extends ../layout/layout

block content
    h1#title Register
    div.container-register
       form(
        id="registration-form"
        action=""
        method="POST"
        )
            label#firstname(for="firstname") firstname:
            input#firstname-input(type="text" name="firstname" required)
            label#lastname(for="lastname") lastname:
            input#lastname-input(type="text" name="lastname" required) 
            label#email(for="email") email:
            input#email-input(type="email" name="email" required) 
            label#password(for="password") password:
            input#password-input(type="password" name="password" required)
            button#btn-post(type="submit" ) submit    
