extends ../layout/layout

block content
    h1#title Register
    div.container-register.container
        if emptyField
            p.error Please fill all the fields
        if notConfirmed 
            p.error Your password is different from your confirmation
        if incorrectEmail
            p.error Please enter a valid email address
        if numbersInName
            p.error Please do not use numbers in firstname/last name field
        if existingUser
            p.error User already exists, please login instead
        form(
            id="registration-form"
            action="/"
            method="POST"
        )

            label#firstname.form-label(for="firstname") Firstname:
            input.input.form-control#firstname-input(type="text" name="firstname" required)
            label#lastname.form-label(for="lastname") Lastname:
            input.input.form-control#lastname-input(type="text" name="lastname" required) 
            label#email.form-label(for="email") Email:
            input.input.form-control#email-input(type="email" name="email" required) 
            label#password.form-label(for="password") Password:
            input.input.form-control#password-input(type="password" name="password" required)
            label#passwordconfirmation.form-label(for="password") Password confirmation:
            input.input.form-control#passwordconfirmation-input(type="password" name="passwordConfirmation" required)
            button.btn.btn-secondary#btn-post(type="submit" name="sendBtn") Register
