* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    padding-bottom: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: #282828;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

header nav ul {
    display: flex;
    height: 50px;
    list-style: none;
    align-items: center;
}

.link {
    color: #fafafa;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
    border: 1px solid #515151;
    height: 50px;
    display: flex;
    align-items: center;
}

.link a {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    color: #ff4b2b;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.link.active  {
    color: #ff4b2b;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.elemLink {
    color: #ff4b2b;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
    border: 1px solid #515151;
    height: 50px;
    display: flex;
    align-items: center;
    width: fit-content;
}

#title {
    color: #ff4b2b;
    font-size: 20px;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
    border: 1px solid transparent;
    border-bottom-color: #515151;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    margin-bottom: 2rem;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #282828;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fafafa;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.error {
    color: red;
}